*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
img{
    width: 100%;
}
a{
    color: #000;
    text-decoration: none;
}
ul,
li,
ol{
list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
    cursor: default;
}
p,
span{
    cursor: default;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
}
input, select{
    cursor: pointer;
}

html,
body{
    height: 100%;
    line-height: 1;
    font-size: 24px;
    background-color: #fff;
    color: #000;
    font-family: 'Graphik LCG', sans-serif;
}
button{
    cursor: pointer;
}
.wrapper{
    background: #F9F9F9;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.header{
    z-index: 1000;
    padding: 16px 140px 25px 140px;
}
.header img{
    width: auto;
}
main{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 140px;
}
.footer{
    margin-top: 120px;
    color: #fff;
}
h1{
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
}
h2{
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
}
label{
    cursor: pointer;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/* layout */

/* header */
.headerTitle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 24px;
}
.headerNavigation a{
    margin: 0 30px;
    font-weight: 400;
    font-size: 16px;
}
.headerNumber a h2{
    cursor: pointer;
}
.headerSupTitle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.headerBtn{
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #fff;

    padding: 18px 24px;
    background: #3474C9;
    border-radius: 8px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 194px;
    margin-right: 10px;
}
.headerBtn:hover{
    background: #2E68B5
}
.headerSearch{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #B6B6B6;
    border-radius: 5px;
    width: 80%;
}
.headerSearch input{
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    width: 100%;
    padding: 0 10px;
    background: #F9F9F9;
}
.headerBasket button{
    padding:10px 24px ;
    background: #3474C9;
    border-radius: 8px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin-left: 10px;
}
.headerBasket button:hover{
    background: #2E68B5
}
/* footer */
.iconNetwork img{
    width: auto;
}

.footerTitle{
    padding: 60px 140px;
    background: #3474C9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footerTitleLeft p {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-top: 25px;
}
.footerTitlelRight{
    padding: 0 20px;
}
.footerTitlelRightForms{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footerTitlelRightForms input {
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    padding: 16px 20px 16px 10px;
    background: #3474C9;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    width: 270px;
    margin-right: 10px;
}
::-webkit-input-placeholder { 
    color: #D6D6D6;
 }
 :-moz-placeholder {
    color: #D6D6D6;
 }
 ::-moz-placeholder {
    color: #D6D6D6;
 }
 :-ms-input-placeholder { 
    color: #D6D6D6;
 }
 .footerTitlelRightForms button{
   
    padding: 14px 20px;
    color: #3474C9;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
 }
 .footerTitlelRightForms button:hover{
    background: #E9EFF6
 }
 .footerTitlelRight p{
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    /* or 19px */


    color: #D6D6D6;
 }
 .footerSuptitel{
    padding: 60px 140px;
    background: #E9EFF6;
    color: #000;
 }
 .footerSuptitelContent a h2{
    cursor: pointer;
 }
 .footerSuptitelUp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 } 
 .footerSuptitelContent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 50px;
 }
 .footerSuptitelContent h2{
    margin-bottom: 40px;
 }
 .footerSuptitelContent a h2{
    margin-bottom: 16px;
 }
 .footerSuptitelContent p {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 32px;
 }
 .linkFooter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
 }
 .linksFooter{
    margin-right: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
 }
 .footerSuptitelContent a {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 16px;
 }
 .footerSuptitelDown{
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
    line-height: 145%;
    font-weight: 400;
 }
 .footerMap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
 }
 .footerMap img{
    width: 100%;
 }
 .navbar {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 20px;
  }
  
  .burger-menu {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    width: 25px;
    margin: 5px;
    background-color: #333;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
  }
  .over{
      display: none;
  }
  @media screen and (max-width: 1286px) {
      .navbar{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
      }
    .burger-menu {
      display: block;
    }
    .menu {
      display: none;
    }
    .menu li {
      font-weight: 400;
      font-size: 16px;
      line-height: 145%;
    }
    .menu.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 50px;
      right: 80px;
      padding: 20px;
      background: #F9F9F9;
      z-index: 1000;
      border-radius: 14px;
    }
    .menu.active li{
      z-index: 2;
    }
    .menu.active li {
      margin-right: 0px;
      margin-bottom: 10px;
    }
    .bar.first {
      -webkit-transform: rotate(45deg) translate(6px, 6px);
          -ms-transform: rotate(45deg) translate(6px, 6px);
              transform: rotate(45deg) translate(6px, 6px);
    }
    .bar.second {
      opacity: 0;
    }
    .bar.third {
      -webkit-transform: rotate(-45deg) translate(8px, -8px);
          -ms-transform: rotate(-45deg) translate(8px, -8px);
              transform: rotate(-45deg) translate(8px, -8px);
    }
    .bar.delFirst {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
    }
    .bar.delSecond {
      opacity: 1;
    }
    .bar.delThird {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none
    }
  }
  
 /* main */


 .mainSlider{
    background: #E9EFF7;
    border-radius: 20px;
    padding: 24px 0 24px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }
 .mainSliderLeft p {
    margin: 40px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
 }
 .mainSliderLeft button{
    background: #3474C9;
    border-radius: 8px;
    padding: 20px 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
 }
 .mainSliderLeft button:hover{
    background: #2E68B5;
 }

 /* mainTool */
 .mainTool{
    margin-top: 40px;
 }
 .mainTool img {
    width: auto;
 }
 .mainToolUp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }
 .boxMainToolUp{
    position: relative;
    width: 270px;
    height: 214px;
    border-radius: 15px;
    background: #fff;
    padding: 24px;
 }
 .boxMainToolUp img{ 
    position: absolute;
    bottom: 0;
    right: 0;
 }
 .direcrionMainTool{
    width: 715px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }
 .mainToolDown {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }
.boxMainToolDown{
    position: relative;
    width: 715px;
    height: 214px;
    border-radius: 15px;
    background: #fff;
    padding: 24px;
 }
 .boxMainToolDown img{ 
    position: absolute;
    bottom: 0;
    right: 0;
 }
 /* containerMainBox*/
 .containerMainBox{
    margin-top: 120px;
 }
.infoBox{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.containerMainBoxInfo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.containerMainBoxInfo p {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-top: 16px;
    margin-bottom: 8px;
}
.containerMainBoxInfo button{
    margin-top: 16px;
    padding: 16px 20px;
    background: #3474C9;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.containerMainBoxInfo button:hover{
    background: #2E68B5;
}
/* mainDelivery */
.mainDelivery{
    margin-top: 140px;
}
.mainDelivery img {
    width: auto;
}
.deliveryMain{
    padding: 24px 60px 0 60px;
}
.deliveryLeft p{
    margin-top: 24px;
    margin-bottom: 32px;
}
.imgDelivery{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.imgDelivery img {
    margin-right: 24px;
}
/* mainGuarantee */
.mainGuarantee{
    margin-top: 120px;
}


/* Blog.html */
.blogInfo{
    width: 100%;
}
.blogTitle{
    margin-top: 40px;
}
.blogTitle p {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    /* or 20px */


    color: #A3A3A3;
    margin-bottom: 24px;
}
.btnBlogTitle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.btnBlogTitle a{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    padding: 14px;
    border: 1px solid #3474C9;
    border-radius: 8px;
    background: #FFFFFF;
    margin-right: 10px;
}
.btnBlogTitle a:focus{
    background: #3474C9;
    color: #FFFFFF;
}
.btnBlogTitle button{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    padding: 14px;
    border: 1px solid #3474C9;
    border-radius: 8px;
    background: #FFFFFF;
    margin-right: 10px;
}
.btnBlogTitle button:focus{
    background: #3474C9;
    color: #FFFFFF;
}
.blogSlider{
    margin-top: 40px;
    background: url(images/backgroundBlog.svg) no-repeat;
    width: 100%;
    padding: 60px;
    color: #fff;
    min-height: 353px;
    border-radius: 20px;
}
.blogSlider span{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
}
.blogSlider p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
}
.containerBlogNew{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.containerBlogNewDirection{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
}
.boxBlogNew img{
    border-radius: 20px;
}
.boxBlogNew p {
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    /* or 20px */


    color: #3474C9;
    margin-top: 16px;
}
.boxBlogNew a h2{
    cursor: pointer;
}

/* aboutCompany.html */
.cardsInfoLeft span{
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    /* or 20px */
    
    
    color: #3474C9;
}
.aboutCompanyCard{
    position: relative;
    padding: 60px;
}
.cardsInfoRight{
    position: absolute;
    right: -60px;
}
.sliderCompany{
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.sliderLeftInfo{
    padding: 60px;
    border-radius: 0px 20px 20px 0px;
}
.sliderLeftInfo p {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-top: 24px;
    margin-bottom: 32px;
}
.btn{
    background: #3474C9;
    border-radius: 8px;
    padding: 20px 24px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.btn:hover{
    background: #2E68B5;
}

.companyPeople{
    margin-top: 120px;
}
.blogForCompany{
    margin-top: 40px;
    padding: 60px;
    background: url(images/backgroundBlog2.svg) no-repeat;
    min-height: 386px;
    width: 100%;
    color: #FFFFFF;
    border-radius: 20px;
}
.blogForCompany p {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-top: 40px;
    margin-bottom: 24px;
}
.blogForCompany  span{
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
}

.aboutPeoples{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
}
.aboutPeople img{
    border-radius: 20px;
}
.aboutPeople h2{
    margin-top: 24px;
    margin-bottom: 8px;
}
.itPlatform{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.leftVector{
    position: relative;
}
.circleLocation{
    position: absolute;
    top: 50%;
}
.rightVector{
    position: relative;
}
.procentLocation{
    position: absolute;
    top: 50%;
}
.cardsMainIT{
    margin-top: 120px;
}
.boxInfoCompany{
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 0px 20px 20px 0px;
}
.rightBoxInfoCompany{
    padding: 60px;
}


/* technicalInformation.html */
.aboutFactory{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 60px;
}
.aboutFactoryRight {
    border-radius: 20px;
}
.aboutFactoryLeft p {
    margin: 20px 0px;
}
.infoBlueBack{
    padding: 1px 20px;
    background: #E9EFF7;
    border-radius: 8px;
}
.infoBlueBack span {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #3474C9;
}
.aboutFastening{
    margin-top: 120px;
}
.aboutFastening h1{
    margin-bottom: 24px;
}
.fasteningInfo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.imgFastening{
    background-color: #FFFFFF;
    width: 560px;
    height: 325px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-bottom: 15px;
}
.ulFastening{
    margin-top: 10px;
    margin-left: 15px;
}
.liWirhCircle li {
    list-style: disc;
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
}
.material{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    margin-top: 120px;
}
.materialLeft{
    padding: 60px;
}
.materialLeft h1{
    margin-bottom: 24px;
}
.materialLeft li{
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    list-style: disc;
    margin-left: 15px;
}
.materialRight{
    border-radius: 0px 20px 20px 0px;
}
.sectionsTitle{
    margin-top: 120px;
}
.sectionsTitle h1 {
    margin-bottom: 24px;
}
.containerInfoSections{
    padding: 24px;
    background: #FFFFFF;
    border-radius: 20px;
    min-height: 345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sectionsSuptitle h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    margin-top: 60px;
    margin-bottom: 40px;
}
.containerInfoSections button{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    padding: 8px 10px;
    border: 1px solid #3474C9;
    border-radius: 8px;
    background: #FFFFFF;
    margin-bottom: 16px;
}
.containerInfoSections button:focus{
    background: #3474C9;
    color: #FFFFFF;
}

.boxInfoSections{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.package{
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.packageLeft{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #E9EFF7;
    border-radius: 20px;
    padding: 0 50px;
    margin-right: 40px;
}
.packageRight h1 {
    margin-bottom: 40px;
}
.packageRight p {
    margin-top: 20px;
}

/* Product.html */
.product{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.price{
    margin: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.price s {
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    color: #BDBDBD;
    margin-left: 20px;   
}
.containerDimensions span{
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    margin-bottom: 8px;
}
.boxDimensions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}
.boxDimensions button{
    padding: 10px 24px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #3474C9;
    border-radius: 8px;
    margin: 0 5px;
}
.dimensionsInput {
    padding: 10px 0;
    background: #F9F9F9;
    border: 1px solid #3474C9;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.dimensionsInput2{
    padding: 10px 0;
    background: #F9F9F9;
    border: 1px solid #3474C9;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.dimensionsInput3{
    padding: 10px 0;
    background: #F9F9F9;
    border: 1px solid #3474C9;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.dimensionsInput2 button{
    padding: 0 8px;
    border: none;
}
.dimensionsInput2 input{
    background: rgba(0, 0, 0, 0);
}

.dimensionsInput3 button{
    padding: 0 8px;
    border: none;
}
.dimensionsInput4 input{
    background: rgba(0, 0, 0, 0);
}
.dimensionsInput button{
    padding: 0 8px;
    border: none;
}
.dimensionsInput input{
    background: rgba(0, 0, 0, 0);
}
.inptuProduct{
    width: 50px;
    text-align: center;
}
.inptuProduct2{
    width: 50px;
    text-align: center;
}
.inptuProduct3{
    width: 50px;
    text-align: center;
}
.btn1, 
.btn2,
.btn3{
    min-width: 170px;
}
.select1.activeBtn{
   background: #3474C9;
    color: #FFFFFF; 
}
.btn1.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.btn2.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.btn3.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.inptuProduct.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.inptuProduct2.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.inptuProduct3.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.dimensionsInput.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.dimensionsInput.activeBtn button{
    color: #FFFFFF;
}
.inptuProduct2.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.dimensionsInput2.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.dimensionsInput2.activeBtn button{
    color: #FFFFFF;
}
.dimensionsInput3.activeBtn{
    background: #3474C9;
    color: #FFFFFF;
}
.dimensionsInput3.activeBtn button{
    color: #FFFFFF;
}
.btnAddProduct{
    margin-top: 24px;
}

.tableProduct{
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    background: #E9EFF7;
    border-radius: 8px;
    margin-top: 40px;
}
.tableProduct table{
    border-collapse: collapse;
}
.tableProduct td{
    padding: 16px;
    border: 1px solid #fff;
    
}
/* Modal for catalog */
.productCatalog{
    position: relative;
    z-index: 10000;
}
.modal {
    display: none;
    position: absolute;
    z-index: 10000;
    top: 62px;
    overflow: auto;
    width: 300px;
}
.modalOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 1;
}
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modalProduct{
    padding: 1px 16px;
    background: #FFFFFF;
}
.modalProduct button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    margin: 16px 0;
}
.triangle{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 14px solid #D1DFF2;
    border-bottom: 8px solid transparent;
    margin-right: 10px;
}
.modalProduct p {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    cursor: pointer;
}
.modalProduct button:focus .triangle{
    border-left: 14px solid #3474C9;
}
.modalProduct button:focus p{
    border-bottom: 1px solid #3474C9;
}



/* swiper */

.boxForSwiper{
    position: relative;
}
.paginLocation{
    bottom: -25px !important;
}
.sliderRightInfo{
    max-width: 580px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-radius: 20px 0px 0px 20px;
}
.swiper-button-prev,
.swiper-button-next {
    opacity: 1;
  top: 50%;
  background: rgba(249, 249, 249, 0.5);
  border-radius: 100%;
  width: 40px !important;
  height: 40px !important;
  background-position: center;
  background-repeat: no-repeat;
}
.btnProductSlider{
    width: 30px !important;
    height: 30px !important;
    background: #F1F1F1;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-next{
  background-image: url("images/right.svg");
  right: 30px;
}
.swiper-button-prev{
  background-image: url("images/left.svg");
  left: 30px;
}
.btnPrev{
    top: 50%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btnNext{
    top: 50%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
    opacity: 1;
}



/* phone-error */
.btnSubmit{
    color: #3474C9 !important;
    background: #FFFFFF !important;
    width: auto !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 130% !important;
    padding: 16px 20px !important;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.btnSubmit:hover{
    background: #E9EFF6 !important;
}
#error {
    display: none;
    color: red;
  }
.footerTitlelRightFormsLocation{
    position: relative;
}
.phone-error{
    position: absolute;
    left: 0;
    bottom: -25px;
    display: none;
    color: red;
}


.hamburger-menu{
    display: none;
}


.mobileBoxTools{
    display: none;
}
.hideBlock{
    display: none;
}
.swiperMobile{
    display: none;
}

.mainDeliveryMobile{
    display: none;
}

.mainGuaranteeMobile{
    display: none;
}

.btnMobile{
    display: none;
}

.cardsMainITMobile{
    display: none;
}
.productSlider img{
    max-width: 60px;
}
.productSlider{
    margin-top: 10px;
}
select{
    margin-right: 10px;
    padding: 10px 24px;
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    border: 1px solid #3474C9;
    border-radius: 8px;
}
option{
        padding: 10px 24px;
        font-family: 'Graphik LCG';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;

}


/* Contacts.html */
.containerContact{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/* reviews.html */
.swiperReviews{
    margin-top: 24px;
    background: #FFFFFF;
    border-radius: 20px;
}
.reviewsContainer{
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.reviewsContainer img{
    width: 300px;
}
.reviewsContainer h2 {
    margin-top: 20px;
}
.containerMainBoxReviews{
    margin-top: 0;
}
.slideReviews{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
}
.btnPrevReviews{
    left: 0;
}
.btnNextReviews{
    right: 0;
}
.containerVideo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
}
.boxVideo{
    margin-right: 40px;
}
.boxVideo h2{
    margin-top: 20px;
}
.containerMainBoxReviewsMobile{
    display: none;
}

/* adaptive */

@media (max-width: 1600px) {
    .direcrionMainTool{
        width: 600px;
    }
    .boxMainToolDown{
        width: 600px;
    }
}
@media (max-width: 1500px) {
    .direcrionMainTool{
        width: 500px;
    }
    .boxMainToolDown{
        width: 500px;
    }
    .headerNavigation a{
        margin: 0 10px;
    }
    .footerTitlelRightForms input{
        width: auto;
    }
    .reviewsContainer{
        width: auto;
    }
}
@media (max-width: 1400px) {
    .boxMainToolUp{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: auto;
    }
    .boxMainToolUp img{
        position: static;
    }
    .boxMainToolDown{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: auto;
        height: auto;
    }
    .boxMainToolDown img{
        position: static;
    }
    .mainToolDown{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .mobileBoxTools{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .hideBlock{
        display: block;
    }
    .direcrionMainTool{
        display: none;
    }
}
@media (max-width: 1286px) {
    .headerNumber{ 
        display: none;
    }
    .headerNavigation{
        display: none;
    }
    .header{
        padding: 16px 80px;
    }
    main{
       padding: 0 80px;
    }
    .footerTitle{
        padding: 60px 80px;
    }
    .footerSuptitel{
        padding: 60px 80px;
    }
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 16px;
    }
    .infoBox{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .iconNetwork{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .iconNetwork img{
        width: 100%;
    }
    .iconNetwork a {
        margin-right: 5px;
    }
    /* blog.html */
    .containerBlogNewDirection{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .boxBlogNew{
        margin-top: 20px;
    }

    /* aboutCompany */
    .aboutPeoples{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .imgFastening{
        width: auto;
    }
    .boxFasteningInfo{
        margin-right: 20px;
    }
    .containerInfoSections{
        margin-right: 20px;
    }
}
@media (max-width: 1120px) {
    .containerMainBoxInfo{
        margin-top: 20px;
    }
    .footerTitlelRightFormsLocation{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .swiperMobile{
        display: block;
    }
    .swiperDesktop{
        display: none;
    }
    .mainSlider{
        padding: 60px;
    }
    .mainSliderLeft p{
        margin: 20px 0;
    }
    .mainDelivery{
        display: none;
    }
    .mainDeliveryMobile{
        display: block;
    }
    .mainGuarantee{
        display: none;
    }
    .mainGuaranteeMobile{
        display: block;
    }
    /* aboutCompany.html */
    .cardsMainIT{
        display: none;
    }
    .cardsMainITMobile{
        display: block;
    }
    .imgForCompany{
        display: none;
    }
    .aboutPeople{
        margin-top: 20px;
    }
    .btnBlogTitle{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
}
@media (max-width: 1000px) {
    .footerTitlelRightForms input{
        margin-right: 10px;
    }
    
    .phone-error{
        width: 100vw;
        bottom: -20px;
    }
    .header{
        padding: 16px 40px;
    }
    main{
       padding: 0 40px;
    }
    .footerTitle{
        padding: 60px 40px;
    }
    .footerSuptitel{
        padding: 60px 40px;
    }
    .footerTitlelRight{
        padding: 0px 20px;
    }
    .menu.active{
        right: 40px;
    }
     /* aboutCompany.html */
     .sliderCompany{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
     }
     .swiperAboutCompany{
        border-radius: 20px;
        width: 100%;
     }
     .sliderLeftInfo br{
        display: none;
     }
     .sliderLeftInfo{
        padding: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
     }
     .boxInfoCompany{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
     }
     .boxInfoCompany br{
        display: none;
     }
     .leftBoxInfoCompany img{
        border-radius: 20px;
        width: 100%;
     }
     .reversBoxInfoCompany{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
     }
     .rightBoxInfoCompany{
        padding: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
     }
     .swiper-slide img{
        width: 100%;
     }
     .aboutFactory{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
     }
     .technicalInfo br{
        display: none;
     }
     .btnBlogTitle a{
        margin-top: 10px;
     }
     .package{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
     }
     .packageLeft {
        margin-top: 20px;
     }
     .product{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
     }
     .productRight{
        width: 100%;
        margin-top: 40px;
     }
     td{
        width: 100%;
     }
     .productLeft{
        width: 100%;
     }
}
@media (max-width: 768px) {
    .footerTitle{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }   
    .footerTitlelRight{
        padding: 0;
    }
    .footerTitlelRight input{
        margin: 10px 0;
        margin-right: 10px;
    }
    .mainToolUp{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .mainToolDown{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .containerBlogNewDirection{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .blogSlider{
        padding: 40px;
    }
    .blogForCompany{
        padding: 40px;
    }
    .blogForCompany br{
        display: none;
    }
    .materialLeft{
        padding: 40px;
    }
    .material{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px;
        border-radius: 20px;
    }
    .materialRight{
        padding: 40px;
    }
    .materialRight img{
        border-radius: 20px;
    }
    .containerInfoSections{
        width: 100%;
        margin-right: 0px;
        margin-top: 20px;
    }
    .boxInfoSections{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    /* contact.html */
    .containerContact{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .contactContent{
        margin-top: 40px;
    }
    /* Reviews.html */
    .containerVideo{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .boxVideo{
        margin-top: 20px;
    }
    .containerMainBoxReviewsMobile{
        display: block;
    }
    .containerMainBoxReviews{
        display: none;
    }
}
@media (max-width: 678px) {
    .footerTitle{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footerSuptitelUp{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footerSuptitelContent h2{
        margin-top: 40px;
        margin-bottom: 20px;

    }
    .footerSuptitelContent a h2 {
        margin-top: 0;  
        margin-bottom: 0;
    }
    .headerBtn{
        width: auto;
        padding: 8px 10px;
    }
    .footerTitlelRight{
        padding: 0;
    }
    .imgDelivery{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media (max-width: 600px){
    .footerTitlelRightFormsLocation{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media (max-width: 500px){
    .header{
        padding: 16px 20px;
    }
    main{
       padding: 0 20px;
    }
    .footerTitle{
        padding: 60px 20px;
    }
    .footerSuptitel{
        padding: 60px 20px;
    }
    .menu.active{
        right: 20px;
    }
    /* aboutCompany */
    .aboutPeoples{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .blogForCompany{
        padding: 20px;
    }
    .materialLeft{
        padding: 40px;
    }
    .packageLeft{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .fasteningInfo{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .boxMainToolDown{
        width: 100%;
    }
    .mainToolDown{
        width: 100%;
    }
    .mainToolDown a{
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .boxMainToolUp{
        margin-top: 20px;
        width: 100%;
    }
    .boxMainToolUp{
        margin-top: 20px;
        width: 100%;
    }
    .boxMainToolDown{
        width: 100%;
    }
    
}
@media (max-width: 400px){
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 14px;
    }
    .mainSlider{
        padding: 20px;
    }
    .containerMainBoxInfo p{
        font-size: 13px;
        text-align: center;
    }
    p{
        font-size: 13px;
    }
    .headerBtn{
        font-size: 14px;
        padding: 12px;
    }
    .containerMainBoxInfo button {
    font-size: 14px;
    padding: 12px;
    }
    .containerMainBoxInfo{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .mainSliderLeft button{
        font-size: 16px;
        padding: 16px;
    }
    .headerTitle{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .headerTitle img{
width: 100%;
    }
    .infoBox{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .mainToolUp{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .mainToolDown{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    width: 100%;
    }
    .btnMobile{
        display: block;
    }
    .headerBasket{
        display: none;
    }
    .linksFooter {
        margin-right: 50px;
    }
    .imgDelivery img{
        margin-right: 0px;
    }
    .menu.active{
        left: 0;
        right: 0;
        z-index: 10000;
    }
    .productSlider img{
        max-width: 50px;
    }
    .mainToolUp{
        width: 100%;
    }
    .mainToolUp a{
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .boxMainToolUp{
        margin-top: 20px;
        width: 100%;
    }
    .boxMainToolUp{
        margin-top: 20px;
        width: 100%;
    }
    .boxMainToolDown{
        width: 100%;
    }
    .mainToolDown{
        width: 100%;
    }
    .mainToolDown a{
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .swiper-button-next{
        right: 10px;
      }
      .swiper-button-prev{
        left: 10px;
      }
      .reviewsContainer img{
        width: 100%;
    }
    .btnPrevReviews{
        left: 0;
    }
    .btnNextReviews{
        right: 0;
    }
    
}